.editor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__nav {
        max-width: 360px;
        margin: 0 40px 0 0;
    }

    &__tab {
        width: 100%;
    }

    &__container {
        padding: 40px;
        background-color: #fdfdfd;
        border-radius: 16px;
    }

    &__avatar {
        margin: 0 0 40px 0;
        border-radius: 16px;
    }

    &__title {
        padding: 0 0 16px 0;
        font-family: 'Manrope';
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #161616;
        border-bottom: 1px solid #dadada;
    }

    &__inputs-container {
        max-width: 420px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__label {
        margin: 24px 0 10px 0;
        font-family: 'Manrope';
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #161616;
    }

    &__input {
        width: 100%;
        padding: 10px 16px;
        border: 1px solid #dadada;
        border-radius: 50px;

        font-family: 'Manrope';
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #595959;
    }

    &__submit-btn {
        margin: 32px 0 0 0;
        padding: 12px 42px;
        border-radius: 50px;
        background-color: #161616;
        font-family: 'Manrope';
        font-weight: 600;
        font-size: 16px;
        color: #fdfdfd;
        cursor: pointer;
    }

    &__spin {
        width: 100%;
        height: 100%;
        padding: 8em;
        display: flex;
        justify-content: center;
    }
}

.nav {
    &__tab {
        padding: 0 0 12px 0;
        margin: 24px 0 0 0;
        font-family: 'Manrope';
        font-weight: 600;
        font-size: 16px;
        border-bottom: 1px solid #dadada;
        color: #9c9c9c;
        cursor: pointer;
    }

    &__tab:hover {
        color: #22a0bc;
    }

    &__tab:active {
        color: #161616;
    }
}

.inactive_tab {
    color: #9c9c9c !important;
    cursor: not-allowed;
}

.active_tab {
    color: #161616 !important;
}

.ant-modal {
    & div:nth-last-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ant-modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ant-modal-content {
    max-width: 321px;
}

.modal {
    &__title {
        font-family: 'Manrope';
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
    }
}

@media screen and (max-width: 500px) {
    .editor {
        flex-direction: column;

        &__container {
            padding: 28px;
        }

        &__avatar {
            position: relative;
            width: 287px;
            height: 187px;
            margin: 0 0 24px 0;
            overflow: hidden;
        }

        &__avatar > img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__nav {
            margin: 0 0 32px 0;
        }

        &__label {
            margin: 20px 0 10px 0;
        }

        &__submit-btn {
            width: 100%;
            font-size: 14px;
        }

        &__input {
            padding: 8px 16px;
            font-size: 14px;
        }
    }

    .nav {
        &__tab {
            margin: 20px 0 0 0;
            padding: 0 0 8px 0;
            font-size: 14px;
        }
    }
}
